.book-img {   
    margin-left: 50px;
    margin-right: 40px;
    float: left;
}

.book-field {
    margin-top: 15px;
    margin-right: 30px;
    font-size: calc(12px + 1vw);
    font-weight: bold;
    color: #922F00;
    line-height: 60px;
}

.book-txt {
    margin-top: 15px;
    font-size: calc(12px + 1vw);
    color: #922F00;    
    line-height: 60px;    
}

.btn-book {    
    margin-top: 15px;
    width: 150px;
}

.btn-borrow {
    margin-right: 5px
}

.btn-back {
    margin-left: 5px
}

.btn-waiting {
    width: 315px;
    display: block;
}

.btn-rating {
    background-color: #922F00;
    color: white;
    margin-left: 30px;
}

.btn-rating:hover,
.btn-rating:focus {
    color: white;
    background-color: #6d2300;
    border-color: #6d2300;
}

.rating-text {
    margin-top: 10px;
    margin-left: 63px;
    font-size: calc(12px + 0.5vw);
    font-weight: bold;
    text-decoration: underline;
    color: #922F00;
}

.group-rating {
    margin-left: -10px;
}