.col-custom {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.book {
    padding-left: 40px;
    padding-right: 50px;
    float: left;
    margin-bottom: 25px;
}

.image-field {
    width: 400px;
    min-width: 244px;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.ratings {
    text-align: center;
}

.group-rating .btn,
.buttons-borrow-return .btn{
    padding: 6px 0 !important;
}

.buttons {
    margin-top: 15px;
}

.buttons .flex {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.buttons .btn-waiting-area {
    margin-top: 10px;
    text-align: center;
}

.buttons .btn-waiting-area a {
    width: 100%;
}

.btn-group, .btn-group-vertical {
    display: block !important;
}

.ratings .group-rating {
    background-color: transparent !important;
}

.ratings .group-rating .btn-rating {
    width: calc(10% + 0.9px);
    font-weight: bold;

}

.flex {
    display: flex;
}

.buttons-container {
    min-height: 34px;
}

.buttons-borrow-return .btn-book {
    width: 49%;
}

.buttons-borrow-return .btn-book:first-child {
    float: left;
}

.buttons-borrow-return .btn-book:last-child {
    float: right;
}

.btn-rating {
    background-color: #0BA5CB;
    color: #EEEEE2;
    margin-left: 50px;
}

.btn-rating:hover,
.btn-rating:focus {
    color: #EEEEE2;
    background-color: #1F1D35;
    border-color: #1F1D35;
}

.rating-text {
    margin-top: 10px;
    font-size: calc(12px + 0.5vw);
    font-weight: bold;
    text-decoration: underline;
    color: #1F1D35;
}

.fa-star {
    color: #0BA5CB;
}

.book-details {
    padding-left: 40px;
}

.book-details p,
.book-details span {
    font-size: calc(12px + 1vw);
    color: #1F1D35;
}

.book-details .book-field {
    font-weight: bold;
}

@media (max-width: 838px) {
    .book {
        margin-bottom: 60px;
    }
}

@media (max-width: 765px) {
    .book {
        margin-bottom: 100px;
    }
}

@media (max-width: 700px) {
    .book {
        flex-direction: column;
    }

    .book .image-field,
    .book .book-details {
        min-width: 244px;
        max-width: 80% !important;
        padding: 0;
        margin-bottom: 30px;
    }
}


