.text1{
    font-size: calc(12px + 1.4vw);
    font-weight: bold;
    color: #0BA5CB;
    margin-left: 20px;
}

.text2{
    font-size: calc(12px + 1.4vw);
    font-weight: bold;
    color: #0BA5CB;
    margin-left: 20px;
    margin-top: 5px;
}

.text-empty {
    font-size: calc(12px + 1vw);
    font-weight: bold;
    color: #1F1D35;
    text-align: center;
    margin-top: 50px;
}

.img1 {
    margin-top: 5px;
    max-width: 73%;
    height: auto;
    display: block;
    margin: auto; 
}

.img2 {
    margin-top: 5px;
    max-width: 63%;
    height: auto;
    display: block;
    margin: auto; 
}

.carousel-inner .active.left { 
    left: -25%;
}

.carousel-inner .next { 
    left:  25%; 
}

.carousel-inner .prev { 
    left: -25%; 
}

.carousel-control { 
    width:  0px;
}

.carousel-control.left, .carousel-control.right {
    margin-left: 10px;
    margin-right: 10px;
    background-image: none;
}