.row {
    margin-bottom: 20px;
}

.text1{
    font-size: calc(12px + 1.4vw);
    font-weight: bold;
    color: #0BA5CB;
    margin-left: 20px;
}

.text2{
    font-size: calc(12px + 1.4vw);
    font-weight: bold;
    color: #0BA5CB;
    margin-left: 20px;
    margin-top: 5px;
}

.img1 {
    margin-top: 5px;
    max-width: 70%;
    height: auto;
    display: block;
    margin: auto;
    min-width: 80px;
}

.img2 {
    margin-top: 5px;
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
    min-width: 70px;
}

.carousel-inner .active.left { 
    left: -25%;
}

.carousel-inner .next { 
    left:  25%; 
}

.carousel-inner .prev { 
    left: -25%; 
}

.carousel-control { 
    width:  0px;
}

.carousel-control.left, .carousel-control.right {
    margin-left: 10px;
    margin-right: 10px;
    background-image: none;
}