.favourites-txt {
    font-size: calc(8px + 1vw);
    color: #1F1D35;
    font-weight: bold;
    text-align: center;
}

.text-href:hover{
    text-decoration: none;
}

.text-href:hover p{
    color: #0BA5CB !important;
    font-weight: bold;
}

.favourites {
    height: 700px;
}

.image {
    display: block;
    margin: 0 auto;
}

.italics {
    font-style: italic;
}
