.favourites-img {
    max-width: 50%;
    height: auto;
}

.favourites-txt {
    font-size: calc(12px + 1vw);
    color: #922F00;
    font-weight: bold;
    text-align: center;
}

.favourites {
    height: 700px;
}

.image {
    display: block;
    margin: 0 auto;
}

.italics {
    font-style: italic;
}
