.rating-text {
    font-size: calc(12px + 1vw);
    color: #1F1D35;
    font-weight: bold;
}

.text-href:hover{
    text-decoration: none;
}

.text-href:hover p{
    color: #0BA5CB !important;
    font-weight: bold;
}

.rating {
    margin-bottom: 30px;
    height: 180px;
}

.italics {
    font-style: italic;
}

.fa-star {
    color: #0BA5CB;
}