html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #EEEEE2;
    background-size: cover;
}

.flex {
    display: flex !important;
}

.header {
    background: #1F1D35;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.header .search-area {
    flex-grow: 10;
}

.header .search-area input {
    margin-right: 10px;
}

.header .title {
    flex-grow: 2;
    font-size: 26px;
    font-weight: bold;
}

.header .greeting {
    flex-grow: 1;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #EEEEE2;
}

.header .greeting a {
    text-decoration: none;
    color: #EEEEE2;
}

.navbar {
    background: #DBDBD1;
    border: none;
    border-radius: 0;
}

.btn-primary {
    background-color: #0BA5CB;
    border-color: #0BA5CB;
    font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #1F1D35;
    background-color: #EEEEE2 !important;
    border-color: #EEEEE2 !important;
}

.btn-page:hover,
.btn-page:focus {
    color: #EEEEE2;
    background-color: #1F1D35 !important;
    border-color: #1F1D35 !important;
}

.navbar .current a {
    font-size: 18px;
    color: #0BA5CB !important;
    font-weight: bold;
}

.navbar a {
    color: #1F1D35 !important;
    font-size: 16px;
    font-weight: bold;

}

.navbar li:hover a {
    color: #0BA5CB !important;
    font-weight: bold;
}

.nav-btn {
    float: left;
    margin-left: 15px;
    background-color: #0BA5CB;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #EEEEE2;
    background-color: #1F1D35 !important;
    border-color: #1F1D35 !important;
}

.icon-bar {
    background-color: white !important;
}

.date {
    margin-top: 3px;
    color: #1F1D35;
    font-size: calc(10px + 0.2vw);
    margin-left: 2px;
    float: left;
}

.author {
    margin-top: 3px;
    color: #1F1D35;
    font-size: calc(10px + 0.2vw);
    margin-right: 2px;
    float: right;
}

.message {
    margin-top: 15px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.error-txt1 {
    font-size: calc(12px + 1vw);
    font-weight: bold;
    color: red;
}

.error-txt2 {
    font-size: calc(11px + 0.6vw);
    color: red;
}

.error {
    margin-top: 15px;
    margin-left: 20px;
}

@media (max-width: 880px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}