html {
    width:100%;
    height:100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom right, #FFCC66, #FFBA42, #FF9900, #CC8500, #CC6E00) no-repeat center center fixed;     
    background-size: cover;
}

/* PM */
.flex {
    display: flex;
}

.header {
    background: linear-gradient(to bottom right, #FFCC99,#F7BD82, #FFCC66, #CC6600, #E69933, #CC6600);
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.header .search-area {
    flex-grow: 10;
}

.header .search-area input {
    margin-right: 10px;
}

.header .title {
    flex-grow: 2;
    font-size: 26px;
    font-weight: bold;
}

.header .greeting {
    flex-grow: 1;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.navbar {
    background: linear-gradient(to bottom right, #FFCC66, #CC6600, #E69933, #CC6600);
    border: none;
    border-radius: 0;
}

.btn-primary{
    background-color: #922F00;
}

.btn-primary:hover,
.btn-primary:focus {
    color: white;
    background-color: #6d2300;
    border-color: #6d2300;
}

.navbar .current a {
    font-size: 18px;
    color: #5a2d0c !important;
    font-weight: bold;
}

.navbar a{    
    color: #922F00 !important;
    font-size: 16px;
}

.navbar li:hover a {    
    color: #5a2d0c !important;
    font-weight: bold;
}

.nav-btn {
    float: left;
    margin-left: 15px;
    background-color: #922F00;
}

.nav-btn:hover,
.nav-btn:focus { 
    color: white;
    background-color: #6d2300 !important;
    border-color: #6d2300 !important;
}


.icon-bar {
    background-color: white !important;
}

.date {
    color: #922F00;
    font-size: 14px;
    position: fixed;    
    margin-left: 2px;     
    bottom: 5px;
}

.author {
    color: #922F00;
    font-size: 14px;
    position: fixed;
    right: 2px;
    bottom: 5px;
}

@media (max-width: 943px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in{
        display:block !important;
    }  
}