<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en-EN">

<head>
    <title>Archive</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>
    <script type="text/javascript" src="/js/check-image.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/archive.css"/>

</head>

<body onload="startTime()">
<div class="header flex">
    <div class="title">
        <a th:href="@{'/'}"><img src="/img/logo.png" class="img-responsive" alt="Library"/></a>
    </div>

    <form class="search-area" action="#" th:action="@{/book/titleSearch}" th:object="${search}">
        <div class="flex">
            <input name="search" id="search" type="text" class="form-control" placeholder="Search book..."/>
            <button type="submit" class="btn btn-primary" onclick="this.blur()"><i class="fas fa-search"></i> Search</button>
        </div>
        <div th:if="${message} == 1" class="alert alert-danger message">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> Such a book was not found, please try again.
        </div>
    </form>

    <div class="greeting">
        <i class="fas fa-user"></i> <span th:text="${username}"></span>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-btn" data-toggle="collapse" onclick="this.blur()" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{'/'}">Main page</a></li>
                <li><a th:href="@{'/favourites'}">Favourites</a></li>
                <li><a th:href="@{'/waiting'}">Waiting</a></li>
                <li><a th:href="@{'/ratings'}">My ratings</a></li>
                <li><a th:href="@{'/borrowed'}">Borrowed</a></li>
                <li class="current"><a th:href="@{'/borrowed/archive'}">Archive</a></li>
                <li><a th:href="@{'/account'}">Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'/logout'}"><i class="fas fa-power-off"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div th:each="archive : ${archiveList}">
    <div class="col-xs-2 archive-img">
        <a th:href="@{'/book/search/0/' + ${archive.getId()}}"><img th:src="@{${archive.getImageL()}}" class="image img-responsive img-rounded"/></a>
    </div>
</div>

<div class="date" id="txt"></div>
<div class="author">Copyright &copy; Konrad Jędralski</div>
</body>
</html>