<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en-EN">

<head>
    <title>Change password</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>
    <script type="text/javascript" src="/js/edit.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/account.css"/>
</head>

<body onload="startTime()">
<div class="header flex">
    <div class="title">
        <a th:href="@{'/'}"><img src="/img/logo.png" class="img-responsive" alt="Library"/></a>
    </div>

    <form class="search-area" action="#" th:action="@{/book/titleSearch}" th:object="${search}">
        <div class="flex">
            <input name="search" id="search" type="text" class="form-control" placeholder="Search book..."/>
            <button type="submit" class="btn btn-primary" onclick="this.blur()"><i class="fas fa-search"></i> Search</button>
        </div>
        <div th:if="${message} == 1" class="alert alert-danger message">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> Such a book was not found, please try again.
        </div>
    </form>

    <div class="greeting">
        <i class="fas fa-user"></i> <span th:text="${username}"></span>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-btn" data-toggle="collapse" onclick="this.blur()" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{'/'}">Main page</a></li>
                <li><a th:href="@{'/favourites'}">Favourites</a></li>
                <li><a th:href="@{'/waiting'}">Waiting</a></li>
                <li><a th:href="@{'/ratings'}">My ratings</a></li>
                <li><a th:href="@{'/borrowed'}">Borrowed</a></li>
                <li><a th:href="@{'/borrowed/archive'}">Archive</a></li>
                <li class="current"><a th:href="@{'/account'}">Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'/logout'}"><i class="fas fa-power-off"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-6">
        <p class="account-title">Information about your account</p>
        <div>
            <p class="account-text account-field">Username:</p>
            <p class="account-text"><span th:text="${userData.getUsername()}"></span></p>
            <p class="account-text account-field">ID: </p>
            <p class="account-text"><span th:text="${userData.getId()}"></span></p>
            <p class="account-text account-field">Email address:</p>
            <p class="account-text"><span th:text="${userData.getEmail()}"></span></p>
            <p class="account-text account-field">First name: </p>
            <p class="account-text"><span th:text="${userData.getFirstName()}"></span></p>
            <p class="account-text account-field">Last name: </p>
            <p class="account-text"><span th:text="${userData.getLastName()}"></span></p>
        </div>
    </div>
    <div class="col-md-6">
        <p class="account-title">Change password</p>
        <div class="row">
            <form th:action="@{'/account/edit/password'}" method="post" class="form-horizontal" role="form">
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">Current password:</label>
                    <div class="col-md-8">
                        <input id="current-password" name="current-password" class="form-control" type="password"/>
                    </div>
                </div>
                <div th:if="${message} == 2" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> Current password is invalid.
                </div>
                <div th:if="${message} == 5" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> Current password can not be empty.
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input id="password" name="password" class="form-control" type="password"/>
                    </div>
                </div>
                <div th:if="${message} == 3" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> New password must have minimum 3 characters.
                </div>
                <div th:if="${message} == 4" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> New password can not be the same as old password.
                </div>
                <div th:if="${message} == 6" class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong> Password can not be empty.
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input id="confirm-password" name="confirm-password" class="form-control" type="password"/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="form-control btn btn-primary col-md-3" value="Save Changes" onclick="this.blur()"/>
                        <br/><br/>
                        <a role="button" th:href="@{'/account'}" class=" form-control btn btn-default col-md-3" onclick="this.blur()"> Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="date" id="txt"></div>
<div class="author">Copyright &copy; Konrad Jędralski</div>
</body>
</html>